/AsyncWilderness/target
/GalaxyCore/target
/Mavic/target
/Minigames/BungeeCore/target
/Minigames/MinigameCore/target
/Minigames/MinigameService/target
/Minigames/Manhunt/target
/Minigames/LockOut/target
/Minigames/DeathSwap/target
/Minigames/LobbyCore/target
